<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony4-Cv generator!{% endblock %}</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>

        {% block content %}{% endblock %}
    </body>
    <footer class="py-2" style="background: #262626 ; color :white;">
        <p class="m-0" style="color :white;">Copyright © 2022 <a href="#">Simon WINCKLER - Fanny GUTTING</a></p>
    </footer>

</html>